<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<h1><a href="/">홈으로</a></h1>
<h1><a href="/posts/list/introduction">소개</a></h1>
<h1><a href="/posts/list/comparison">가격비교</a></h1>
<h1><a href="/posts/list/reviews">후기</a></h1>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-6">
            <!-- 머스태치는 if문 등을 제공하지 않음, true/false 여부만 판단
            그래서 항상 최종값을 넘겨줘야하기에 userName이 있다면 userName을 넘겨주도록-->
            {{#uName}} <!-- #username이 userName이 있는 경우를 뜻한다. -->
                Logged in as: <span id="user">{{uName}}</span>
                <!-- 스프링 시큐리티에서 기본적으로 제공하는 로그아웃 url("/logout") 사용
                개발자가 직접 로그아웃 기능을 만들 필요가 없다. -->
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/uName}}

            {{^uName}} <!-- ^은 없는 경우를 뜻함 -->
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
            {{/uName}}
        </div>
    </div>
</div>
<body>