<!DOCTYPE HTML>
<html>
<head>
    <title>스프링부트 웹서비스</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<header>
    <h2 class="main-title">MY-TITLE</h2>
    <nav>
        <ul>
            <li><a href="/">홈으로</a></li>
            <li><a href="/posts/list/introduction">제도소개</a></li>
            <li><a href="/posts/list/comparison">교육원 가격비교</a></li>
            <li><a href="/posts/list/reviews">교육원 후기</a></li>
            <li><a href="/">학습설계 신청(미)</a></li>
        </ul>
        <div class="auth-section">
            {{#uName}}
                <span class="user-info">Logged in as: <span id="user">{{uName}}</span></span>
                <a href="/logout" class="btn btn-info" role="button">로그아웃</a>
            {{/uName}}

            {{^uName}}
                <a href="/oauth2/authorization/google" class="btn btn-success" role="button">로그인(구글)</a>
            {{/uName}}
        </div>
    </nav>
</header>

<body>