<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>페이지 타이틀 v2</title>
</head>
<body>
<header>
    <h1>페이지 타이틀 v2</h1>
</header>
{{>layout/header}}
<ul>
<!--        <li><a href="/posts/list/introduction">제도 소개(미완성)</a></li>-->
<!--    <li><a href="/posts/list/comparison">가격비교</a></li>-->
<!--        <li><a href="/posts/list/reviews">교육원 후기(미완성)</a></li>-->
</ul>
<footer>
    <p>&copy; All rights reserved.</p>
</footer>
</body>
</html>
