<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>K-학점은행제</title>
</head>
<body>
<header>
    <h1>K-학점은행제</h1>
</header>
{{>layout/header}}
<nav>
    <ul>
        <li><a href="/posts/list/introduction">학점은행제 소개</a></li>
        <li><a href="/posts/list/comparison">교육원 가격비교</a></li>
        <li><a href="/posts/list/reviews">교육원 후기</a></li>
    </ul>
</nav>
<footer>
    <p>&copy; 2023 K-학점은행제. All rights reserved.</p>
</footer>
</body>
</html>
